body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #2c3e50;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,h2 {
    text-align: center;
    color: #27ae60;
}

main{
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
}

p {
    margin-bottom: 15px;
    padding: 5px;
}

img {
  max-width: 300px;
  height: 300px;
  allign:center;
  display: block; 
}

header {
    background-color: #2c3e50;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: bacground-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: hsl(145, 63%, 42%);
    color: white;
}

.active {
    background-color: #27ae60;
    border-bottom: 3px solid white;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}


fieldset{
    border: 2px solid #27ae60;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
}

legend {
    font-weight: bold;
    color: #27ae60;
    padding: 0 10px;
}


input:focus,
textarea:focus {
    outline: 2px solid #27ae60;
    background-color: #e8f8f5;
}


input[type="submit"]:hover {
    background-color: #219150;
}

#main-footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
}
